.container{
    width: 1200px;
    height: 800px;
    background-image: url("../images/yankee-stadium.jpg") ;
    margin: 50px auto;
    background-size: 100% 100%;
   
}

@media only screen and (max-width: 640px) {
    
    .container{
        width: 600px;
        height: 400px;
        background-color: blue;
        margin: 50px auto;
        background-size: 100% 100%;
    }

}