.container{
    width: 1200px;
    height: 800px;
    background-image: url("../images/yankee-stadium.jpg") ;
    margin: 50px auto;
    background-size: 100% 100%;
   
}

.triviaImage{
    position: relative;
    height: 200px;
    width: 300px;
    top: 251px;
    
}

#questionBlock{
    position: absolute;
    top: 324px;
    left: 503px;
    background-color: transparent;
    width: 571px;
    height: 140px;
    font-size: 40px;
    text-align: center;
    color: rgb(25, 83, 207);
    font-weight: bolder;
    padding-top: 35px;
}

#answerSelections{
    width: 331px;
    height: 250px;
    position: absolute;
    top: 249px;
    left: 1083px;
    background-color: transparent;
    opacity: .5;
    color: white;
    margin: 0px auto;

}




.answerOptions{
    position: relative;
    width: 80%;
    height: 45px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    background-color: navy;
    box-shadow: 5px 5px; 
    margin: 8px auto;
    left: 30px;
    top: -2px;


}




@media only screen and (max-width: 640px) {
    
    .container{
        width: 600px;
        height: 400px;
        background-color: blue;
        margin: 50px auto;
        background-size: 100% 100%;
    }

}